# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# VScode files
*.code-workspace

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Other generated R files
.DS_Store

*.Rproj

# Ignore folders & files that don't need to be tracked on git
Resources/
plots/
FB4/
From Grant/
old/
From Isaac/
From PY/
2020_Hake_Assessment/
2020_Hake_Assessment_MLE model files/
Arrowtooth_Flounder/
Full dataset/
DirichletDietTool2020/
data/diet/CCTD/
data/diet/FEAT/
data/diet/Dirichlet/plots
old scripts/
hake-2022-model-files/
models/
M2/2024 assessment/*.png

# Ignore specific file types
*.csv
*.rds
*.docx
*.pdf
hake_document.log
*.log
*.tex
*.txt
*.html
*.png

# Ignore Microsoft temporary files
[~][$]*  

# Ignore specific data files
BS2017SS.xlsx
data/diet/other diet.xlsx
data/scenarios.xlsx
wtatage.xlsx
age_error.xlsx
data/assessment/2024/01-base.rds
data/assessment/2024/hake.Rdata
data/assessment/2024/report.sso
data/assessment/2024/mcmc/

# Whitelist specific files
!temperature_index.rds
